[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery.git
[submodule "lib/jail"]
	path = lib/jail
	url = https://github.com/sebarmeli/JAIL.git
[submodule "lib/qunit"]
	path = lib/qunit
	url = https://github.com/jquery/qunit.git
[submodule "lib/raphael"]
	path = lib/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
