[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery.git
[submodule "lib/qunit"]
	path = lib/qunit
	url = https://github.com/jquery/qunit.git
[submodule "lib/raphael"]
	path = lib/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
[submodule "lib/jquery-mockjax"]
	path = lib/jquery-mockjax
	url = https://github.com/appendto/jquery-mockjax.git
[submodule "lib/jasmine"]
	path = lib/jasmine
	url = https://github.com/pivotal/jasmine.git
[submodule "lib/DefinitelyTyped"]
	path = lib/DefinitelyTyped
	url = https://github.com/borisyankov/DefinitelyTyped.git
