@mixin sidemenu-1
  -webkit-user-select: none
  font-size: 14px
  h3
    cursor: pointer
    background-image: -webkit-linear-gradient(#f0f0f0, #e0e0e0)
    font:
      size: inherit
      weight: inherit
    margin: 0
    padding: 0 0 0 10px
    line-height: 1.3em
    &:hover
      background-image: -webkit-linear-gradient(#e0e0e0, #d0d0d0)
      box-shadow: 0 0 4px #333 inset
    &:active
      background-image: -webkit-linear-gradient(#d0d0d0, #e0e0e0)
      box-shadow: 0 0 6px #333 inset
    &.accordion-open
      background-image: -webkit-linear-gradient(#606060, #707070)
      box-shadow: 0 0 4px #333 inset
      color: #fff
  ul
    margin: 0
    padding: 5px 0
    box-shadow: 0 2px 5px #999 inset, 0 0 5px #999 inset
  a
    display: block
    color: inherit
    text-decoration: none
    margin: 0 5px
    padding: 0 5px
    &:hover
      background-color: #ccc
      border-radius: 4px

body
  margin: 0

html, body, #body
  width: 100%
  height: 100%

#body
  color: #222
  display: -webkit-box
  #left-pane
    width: 135px
    height: 100%
    overflow-y: auto
    @include sidemenu-1
  #right-pane
    -webkit-box-flex: 1
    height: 100%

#body.pane-3
  #right-pane
    display: -webkit-box
    -webkit-box-orient: vertical
    #tab-a
      height: 50%
    #tab-b
      -webkit-box-flex: 1

#app_notice_container
  position: fixed
  left: 5%
  top: 5px
  width: 80%

  > div
    background-color: #222
    color: #eee
    margin-bottom: 5px
    padding: 3px
    border-radius: 5px

    display: -webkit-box

    div
      -webkit-box-flex: 1

    button
      cursor: pointer
      width: 16px
      height: 16px
      background-image: url(/img/close_16x16.png)
      background-color: transparent
      border: none

