$z-index_tab_content: 0
$z-index_selected_tab_content: 1
$z-index_left_pane: 2
$z-index_notification: 3
$z-index_modal: 4

@import sass/ui_accordion.sass
@import sass/ui_tab.sass
@import sass/ui_table_search.sass
@import sass/ui_table_sort.sass

@mixin ascii_art
  :font
    :size 16px
    :family "ＭＳ Ｐゴシック","konatu"
  :line-height 18px

@mixin drop_shadow
  :box-shadow 0 1px 4px rgba(#000, 0.6)

@mixin modal_overlay
  :z-index $z-index_modal
  :position absolute
  :left 0
  :top 0
  :width 100%
  :height 100%
  :background-image -webkit-radial-gradient(#666, #333)

@mixin tabbed_view
  :display -webkit-box
  :-webkit-box-orient vertical
  .message_bar
    :font-size 13px
    &.loading
      :padding 3px
    &.info
      :padding 3px
      :background-color #eef
      :border 1px solid #ccd
    &.error
      :padding 3px
      :background-color #ecc
      :border 1px solid #ebb
  .nav_bar
    @include drop_shadow
    :position relative
    *
      :float left
      :margin 3px
    input
      :border 1px solid #ccc
      :height 19px
      :padding 0 0 0 19px
      :background url(/img/search2_19x19.png) no-repeat
    .button
      :width 19px
      :height 19px
      :border 1px solid #ccc
      :cursor pointer
      &.button_bookmark
        :background-image url(/img/star_19x19.png)
        &.bookmarked
          :background-image url(/img/star2_19x19.png)
          :-webkit-box-shadow 0 0 3px yellow inset
      &.button_link
        :background-image url(/img/link_19x19.png)
        a
          :display block
          :width 100%
          :height 100%
      &.button_reload
        :background-image url(/img/reload_19x19.png)
  .content
    :-webkit-box-flex 1
    :overflow auto
  .loading_overlay
    :position absolute
    :left 0
    :top 0
    :width 100%
    :height 100%
    :padding 5px
    :box-sizing border-box
    :background-color #333
    :font-size 13px
    :color #eee

@mixin content_table
  table
    :width 100%
    :font-size 13px
    :border-collapse collapse
  thead
    :background-color #f9f9f9
  tr
    :border-bottom 1px solid #ddd
  th
    :padding 3px
    :font-size 12px
    :font-weight normal
    :border-right 1px solid #ddd
    :white-space nowrap
  tbody tr
    :cursor pointer
    &:hover
      :background-color #e8e8e8
  td
    :padding 2px
    :white-space nowrap

.view_board
  @include tabbed_view
  @include ui_table_sort
  @include ui_table_search
  @include content_table
  th
    &:nth-child(1)
      :width 1em
    &:nth-child(3)
      :width 4em
    &:nth-child(4)
      :width 3em
    &:nth-child(5)
      :width 4em
    &:nth-child(6)
      :width 16em
  td
    &:nth-child(3), &:nth-child(4), &:nth-child(5)
      :text-align right

.view_history
  @include tabbed_view
  @include content_table

.view_bookmark
  @include tabbed_view
  @include content_table
  @include ui_table_sort
  td
    &:nth-child(2), &:nth-child(3), &:nth-child(4)
      :text-align right
  .loading_overlay
    .loading
      &:before
        :content "更新中 : "
    .success
      :color lightgreen
      &:before
        :content "更新成功 : "
    .fail
      :color red
      &:before
        :content "更新失敗 : "

.view_thread
  @include tabbed_view
  :font-size 15px

  article
    :margin 10px 5px

  header
    :font-size 14px
    :color #222

  .num
    &:after
      :content ' '

  .name
    :color #008000

  .mail
    &:before
      :content ' ['
    &:after
      :content '] '

  .message
    :margin 5px 10px
    .anchor.disabled
      :color #666

  .aa .message
    @include ascii_art

.view_config
  @include modal_overlay
  > div
    @include drop_shadow
    :position relative
    :margin 20px auto
    :width 500px
    :border-radius 4px
    :font-size 14px
    :background-color #f3f3f3
    .close_button
      :position absolute
      :right 5px
      :top 5px
      :border-radius 3px
      :background-color #a55
      :cursor pointer
  h2
    :margin 5px
    :padding 5px
    :font-size 18px
    :font-weight normal
    :border-bottom 2px solid #999
  label
    :cursor pointer

html, body, #body
  :position relative
  :width 100%
  :height 100%
  :margin 0

a
  :cursor pointer

#body
  :position relative
  :color #111
  #left_pane
    @include ui_accordion
    :position absolute
    :width 135px
    :height 100%
    :overflow-y auto
    :z-index $z-index_left_pane
  #right_pane
    :box-sizing border-box
    :position absolute
    :padding-left 135px
    :width 100%
    :height 100%

#body.pane-3
  #right_pane
    :display -webkit-box
    :-webkit-box-orient vertical
    #tab_a
      :height 50%
    #tab_b
      :-webkit-box-flex 1

#tab_a, #tab_b
  @include ui_tab

#tab_resizer
  :cursor row-resize
  :height 5px
  :background-color #ddd

#app_notice_container
  :position fixed
  :left 5%
  :top 5px
  :width 80%
  :z-index $z-index_notification

  > div
    :background-color #222
    :color #eee
    :margin-bottom 5px
    :padding 5px 10px
    :border-radius 5px
    @include drop_shadow

    :display -webkit-box

    div
      :-webkit-box-flex 1

    button
      :cursor pointer
      :width 16px
      :height 16px
      :background-image url(/img/close_16x16.png)
      :background-color transparent
      :border none

.view_bookmark_source_selector
  @include modal_overlay
  > div
    @include drop_shadow
    :font-size 14px
    :width 500px
    :margin 20px auto
    :background-color #f3f3f3
    :color #111
    :padding 5px
    :border-radius 3px
  .node_list
    :overflow auto
    :background-color #f9f9f9
    :border 1px solid #bbb
    :border-radius 3px
  ul
    :list-style-type none
    :padding-left 20px
    :margin 0
    :max-height 300px
  .node
    :display block
    :cursor pointer
    :font-size 13px
    :margin 1px
    :padding 1px
    :border-radius 3px
    :border 1px solid transparent
    &:hover
      :background-color #eef
      :border-color #69c
    &.selected
      :background-color #dde
      :border-color #58b

