.accordion {
  -webkit-user-select: none;
  font-size: 14px;
  background-color: #dddddd;
  > h3 {
    cursor: pointer;
    background-color: #dddddd;
    font: {
      size: inherit;
      weight: inherit;
    };
    margin: 0;
    padding: 0 0 0 10px;
    line-height: 1.3em;
    &:hover {
      background-color: #bbbbbb;
    }
    &:active {
      background-color: #aaaaaa;
    }
    &.accordion_open {
      color: white;
      background-color: #666666;
    }
  }
  > ul {
    background-color: #fafafa;
    margin: 0;
    padding: 5px 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
    list-style-type: none;
  }
  a {
    display: block;
    color: inherit;
    text-decoration: none;
    margin: 0 5px;
    padding: 1px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      background-color: #dddddd;
      box-shadow: 0 0 5px #dddddd;
    }
  }
}
