.contextmenu_menu {
  @include drop_shadow;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 10%);
  font-size: 14px;
  z-index: $z-index_contextmenu;
  > li {
    cursor: pointer;
    padding: 5px 10px;
    &:hover {
      background: hsl(0, 0%, 50%);
      color: hsl(0, 0%, 100%);
    }
  }
}
