.tab {
  display: -webkit-flex;
  -webkit-flex-flow: column;
}

.tab_tabbar {
  display: -webkit-flex;
  -webkit-flex-flow: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.3;
  min-height: 25px;
  > li {
    position: relative;
    max-width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    margin-right: 3px;
    padding: 3px 7px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    min-width: 1em;
    min-height: 1em;
    & {
      border-bottom: 1px solid;
    }
    &.tab_selected {
      border-bottom: 1px solid;
    }
    > img {
      visibility: hidden;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      border-radius: 2px;
    }
    &.hover > img {
      visibility: visible;
    }
  }
}

.view.theme_default .tab_tabbar > li {
  color: #000;
  & {
    background-color: #ccc;
    border-color: #aaa;
  }
  &.tab_selected {
    background-color: #fff;
    border-color: #fff;
  }
  > img {
    background-color: #a55;
  }
}

.view.theme_dark .tab_tabbar > li {
  & {
    background-color: #333;
    border-color: #333;
    color: #aaa;
  }
  &.tab_selected {
    background-color: #444;
    border-color: #444;
    color: #ddd;
  }
  > img {
    background-color: #a55;
  }
}

.tab_container {
  -webkit-flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.tab_content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: $z-index-tab-content;
  visibility: hidden;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  &.tab_selected {
    z-index: $z-index-selected-tab-content;
    visibility: visible;
  }
}
