@import "../common.scss";

@include common;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  font-size: 14px;
  background-color: #f5f5f5;
  color: #444444;
}

body {
  padding: 8px;
}

header {
  margin: 0 0 5px 0;
  display: -webkit-flex;
  > h1 {
    -webkit-flex-grow: 1;
    font-size: 18px;
    margin: 0;
  }
}

.preview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  > pre {
    @include ascii-art;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  > .close_preview {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

form {
  margin: 0;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-flow: column;
}

input[type="submit"], button {
  @include button;
}

textarea, input:not([type="submit"]) {
  @include input-text;
}

textarea {
  display: block;
  -webkit-flex-grow: 1;
  resize: none;
  width: 100%;
}

.iframe_container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  border: 3px solid #cccccc;
  background-color: rgba(black, 0.7);
  box-shadow: 0 0 20px black inset;
}

.hide_iframe {
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #333333;
  border: 2px solid white;
  box-shadow: 0 0 20px black;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  background-image: url(/img/close_16x16.png);
}

iframe {
  background-color: white;
  border: none;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px black;
}
