@import "../common.scss";

@include common;
@include tab-content;
@include content-table;

@media (max-width: 650px) and (min-width: 501px) {
  th:not(.table_sort_asc):not(.table_sort_desc) {
    &:nth-child(6) {
      width: 0;
    }
  }
}

@media (max-width: 500px) {
  th:not(.table_sort_asc):not(.table_sort_desc) {
    &:nth-child(n+3) {
      width: 0;
    }
  }
}

td {
  &:nth-child(3), &:nth-child(4), &:nth-child(5) {
    text-align: right;
  }
}

.theme_dark {
  td:nth-child(1) {
    color: #f93;
  }
}
