@import "../common.scss";

@include common_view_style_1;
@include content_table;

tbody:empty {
  display: block;
  &:after {
    content: "ブックマークされているスレッドが有りません";
  }
}

tr.expired td:first-child:before {
  content: "[dat落ち] ";
  color: red;
}

th {
  &:nth-child(2), &:nth-child(3), &:nth-child(4) {
    width: 4em;
  }
  &:nth-child(5) {
    width: 16em;
  }
}

td {
  &:nth-child(2), &:nth-child(3), &:nth-child(4) {
    text-align: right;
  }
}

.loading_overlay {
  .loading {
    &:before {
      content: "更新中 : ";
    }
  }
  .success {
    color: lightgreen;
    &:before {
      content: "更新成功 : ";
    }
  }
  .fail {
    color: red;
    &:before {
      content: "更新失敗 : ";
    }
  }
}
