@import "../common.scss";

@include common;

html {
  background-image: -webkit-radial-gradient(#666666, #333333);
  width: 100%;
  height: 100%;
}

body {
  @include drop-shadow;
  font-size: 14px;
  width: 500px;
  margin: 20px auto;
  background-color: #f3f3f3;
  color: #111111;
  padding: 5px;
  border-radius: 3px;
}

p:first-child {
  margin-top: 1ex;
}

p:last-child {
  margin-bottom: 1ex;
}

.node_list {
  overflow: auto;
  background-color: #f9f9f9;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  max-height: 300px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.node_list > ul {
  padding-left: 0;
}

.node {
  display: block;
  cursor: pointer;
  font-size: 13px;
  margin: 1px;
  padding: 1px;
  border-radius: 3px;
  border: 1px solid transparent;
  &:hover {
    background-color: #eeeeff;
    border-color: #6699cc;
  }
  &.selected {
    background-color: #ddddee;
    border-color: #5588bb;
  }
}

button {
  @include button;
}
