@import "../common.scss";

@include common;
@include tab-content;
@include content-table;

@media (max-width: 650px) and (min-width: 501px) {
  th:not(.table_sort_asc):not(.table_sort_desc) {
    &:nth-child(5) {
      width: 0;
    }
  }
}

@media (max-width: 500px) {
  th:not(.table_sort_asc):not(.table_sort_desc) {
    &:nth-child(2), &:nth-child(n+4) {
      width: 0;
    }
  }
}

tbody:empty {
  display: block;
  &:after {
    content: "ブックマークされているスレッドが有りません";
  }
}

tr.expired td:first-child:before {
  content: "[dat落ち] ";
  color: red;
}

td {
  &:nth-child(2), &:nth-child(3), &:nth-child(4) {
    text-align: right;
  }
}

.view.loading {
  table::after {
    content: "更新チェック中";
  }

  > body > .content {
    display: block;

    > table > tbody > tr:not(.updated) {
      display: none;
    }
  }
}

.loading_overlay {
  position: fixed;
  top: initial;
  bottom: 0;
  height: initial;
  background: transparent;
  > .pending {
    color: hsl(0, 0%, 50%);
    &::before {
      content: "待機中: ";
    }
  }
  > .loading {
    color: hsl(30, 50%, 45%);
    &::before {
      content: "更新中: ";
    }
  }
  > .success {
    color: hsl(120, 50%, 40%);
    &::before {
      content: "更新成功: ";
    }
  }
  > .error {
    color: hsl(0, 50%, 50%);
    &::before {
      content: "更新失敗: ";
    }
  }
}
