@import "../common.scss";

@include common;
@include tab-content;

html {
  font-size: 13px;
  background-color: #fff;
}

body {
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  box-shadow: 0 2px 8px #333;
  background-image: linear-gradient(#666, #222);
  button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
    &:hover {
      border-color: #aaa;
    }
  }
}

#main {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: auto;
}

section {
  padding: 1rem;

  display: -webkit-box;
  > div {
    -webkit-box-flex: 1;
  }
  &:not(:first-child) {
    border-top: 1px dashed hsl(0, 0%, 80%);
  }
}

section > h2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0 1rem 0 0;
  text-align: right;
  width: 10rem;
}

label {
  cursor: pointer;
}

input[type="text"], textarea {
  @include input-text;
}

section button {
  @include button;
}

.version {
  font-size: 0.9rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #aaaaaa;

  display: -webkit-box;
}

.version_text {
  -webkit-box-flex: 1;
}

.version_copy {
  display: block;
}

.links {
  padding: 0;
  > li {
    display: inline-block;
  }
}

.ninja_info:empty::after {
  content: "忍法帳データが有りません。";
}

.ninja_item {
  > div {
    display: inline-block;
  }

  > .site_name {
    display: none; //現状2ch以外の忍法帳に対応していないため
  }

  &:not(.ninja_item_cookie_found) .ninja_item_cookie_found,
  &.ninja_item_cookie_found .ninja_item_cookie_notfound,
  &:not(.ninja_item_backup_available) .ninja_item_backup_available,
  &:not(.ninja_item_backup_available) .ninja_item_cookie_notfound button,
  &.ninja_item_backup_available .ninja_item_backup_unavailable {
    display: none;
  }
}

.bbsmenu_reload_status {
  &.done {
    color: green;
  }
  &.fail {
    color: red;
  }
}

input[type="text"]:invalid {
  background-color: #fcc;
}

.label_textarea, .label_textarea > a {
  vertical-align: top;
}
