:ruby
  app_version = "0.39"

!!! 5
%html.view.view_empty(data-app-version="#{app_version}")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title empty
  %body
