@import "../common.scss";

@include common_view_style_1;
@include content_table;

.content {
  tbody:empty {
    display: block;
    &:after {
      content: "閲覧履歴は空です";
    }
  }
}

th:hover {
  background-color: inherit !important;
}

th:nth-child(2) {
  width: 16em;
}
