@import "../common.scss";

@include common_view_style_1;

html {
  overflow: auto;
  background-color: transparent;
}

.container {
  padding: 10px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

form {
  display: -webkit-box;
}

input {
  display: block;
  height: 1em;
  box-sizing: content-box;
}

input:first-child {
  @include input_text;
  -webkit-box-flex: 1;
  margin-right: 10px;
}

input[type="submit"] {
  @include button;
}

.notice {
  display: none;
  margin-top: 5px;
  font-size: 14px;
}

.view.theme_default {
  .container {
    background-color: #fff;
  }
}
.view.theme_dark {
  .container {
    background-color: #444;
    color: #fff;
  }
}
