@import "../common.scss";

@include common_view_style_1;

html {
  overflow: auto;
}

.container {
  @include drop_shadow;
  min-width: 100px;
  max-width: 500px;
  margin: 50px;
  padding: 10px;
  border-radius: 5px;
}

form {
  display: -webkit-box;
}

input {
  display: block;
}

input:first-child {
  -webkit-box-flex: 1;
  margin-right: 10px;
}

.notice {
  display: none;
  margin-top: 5px;
  font-size: 14px;
  color: white;
}

.view.theme_default {
  .container {
    background-color: #444;
  }
}
.view.theme_dark {
  background-color: #444;
  .container {
    background-color: #252525;
  }
}
