@import "../common.scss";

@include common;

body {
  margin: 0;
  padding-bottom: 100px;
  font-size: 14px;
  -webkit-user-select: none;
  &:not(.accordion) {
    visibility: hidden;
  }
}

h3 {
  cursor: pointer;
  font: {
    size: inherit;
    weight: inherit;
  };
  margin: 0;
  padding: 0 0 0 10px;
  line-height: 1.3em;
}

ul {
  margin: 0;
  padding: 5px 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  list-style-type: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 0 5px;
  padding: 1px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.search {
  display: -webkit-flex;
  padding: 2px;
  > input:not([type="hidden"]) {
    display: block;
    box-sizing: content-box;
    border: 1px solid;
    border-radius: 2px;
    height: 19px;
    margin: 0;
    padding: 0;
  }
  > input[type="text"] {
    -webkit-flex-grow: 1;
    width: 0%;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:focus {
      outline: none;
    }
  }
  > input[type="submit"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 19px;
  }
}

li:not(.bookmark) + li.bookmark:before {
  content: "ブックマーク";
  display: block;
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  border-bottom: 1px solid;
}

.loading_message {
  background-color: #444444;
  color: white;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  & {
    display: none;
  }
  .loading & {
    display: block;
  }
}

@mixin view_sidemenu_theme (
  $background-color,
  $color,
  $header-hover-background-color,
  $header-active-background-color,
  $header-open-background-color,
  $header-open-color,
  $ul-background-color,
  $a-hover-background-color,
  $a-hover-shadow-color,
  $bookmark-separator-color,
  $bookmark-separator-border-color,
  $searchbox-background-color,
  $searchbox-color,
  $searchbox-item-border-color,
  $searchbox-submit-background-color,
  $searchbox-submit-background-image
) {
  & {
    background-color: $background-color;
    color: $color;
  }

  h3 {
    &:hover {
      background-color: $header-hover-background-color;
    }
    &:active {
      background-color: $header-active-background-color;
    }
    &.accordion_open {
      color: $header-open-color;
      background-color: $header-open-background-color;
    }
  }

  ul {
    background-color: $ul-background-color;
  }

  a:hover {
    background-color: $a-hover-background-color;
    box-shadow: 0 0 5px $a-hover-shadow-color;
  }

  li:not(.bookmark) + li.bookmark:before {
    border-color: $bookmark-separator-border-color;
    color: $bookmark-separator-color;
  }

  .search > input {
    &:not([type="hidden"]) {
      border-color: $searchbox-item-border-color;
    }
    &[type="text"] {
      background-color: $searchbox-background-color;
      color: $searchbox-color;
    }
    &[type="submit"] {
      background-color: $searchbox-submit-background-color;
      background-image: $searchbox-submit-background-image;
    }
  }
}

.view.theme_default {
  @include view_sidemenu_theme(
    $background-color: #ddd,
    $color: #000,
    $header-hover-background-color: #bbb,
    $header-active-background-color: #aaa,
    $header-open-background-color: #666,
    $header-open-color: #fff,
    $ul-background-color: #fafafa,
    $a-hover-background-color: #ddd,
    $a-hover-shadow-color: #ddd,
    $bookmark-separator-color: #072a8a,
    $bookmark-separator-border-color: #072a8a,
    $searchbox-background-color: #fff,
    $searchbox-color: #111,
    $searchbox-item-border-color: #999,
    $searchbox-submit-background-color: hsl(0, 0%, 100%),
    $searchbox-submit-background-image: (
      linear-gradient(hsla(0, 0%, 0%, 0.05), hsla(0, 0%, 0%, 0.1)),
      url(/img/search2_19x19_777.png)
    )
  );
}

.view.theme_dark {
  @include view_sidemenu_theme(
    $background-color: #333,
    $color: #eee,
    $header-hover-background-color: #222,
    $header-active-background-color: #111,
    $header-open-background-color: #222,
    $header-open-color: #9d9,
    $ul-background-color: #444,
    $a-hover-background-color: #333,
    $a-hover-shadow-color: transparent,
    $bookmark-separator-color: #9d9,
    $bookmark-separator-border-color: #9d9,
    $searchbox-background-color: transparent,
    $searchbox-color: #eee,
    $searchbox-item-border-color: #999,
    $searchbox-submit-background-color: transparent,
    $searchbox-submit-background-image: (
      linear-gradient(hsla(0, 0%, 0%, 0.05), hsla(0, 0%, 0%, 0.1)),
      url(/img/search2_19x19_aaa.png)
    )
  );
}
