@import "../common.scss";

@include common;
@include tab-content;

@mixin view_thread_res_info {
  border-top: 1px solid silver;
  display: block;
  margin: 1em 0 0 5px;
  font-size: 12px;
  text-align: center;
}

html {
  font-size: 15px;
}

.content {
  padding-bottom: 50px;
  &[data-res_search_hit_count="0"]:after {
    display: block;
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    content: "検索にヒットするレスが有りませんでした";
  }
}

article {
  padding: 0 5px 20px 5px;
  &.ng {
    display: none;

    .popup & {
      display: block;
      color: #666;
      border: 1px dashed;
      padding: 5px;
      margin: 5px;

      &::after {
        display: block;
        min-width: 10em;
        content: "NG";
        text-align: center;
      }

      > header, > .message {
        display: none;
      }
    }
  }
  &:first-child {
    padding-top: 10px;
  }
}

.link, .freq, .name_anchor {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.last:not(:last-child):after {
  @include view_thread_res_info;
  content: "しおり";
}

.read:not(:last-child):after {
  @include view_thread_res_info;
  content: "ここから未読";
}

.received:not(:last-child):after {
  @include view_thread_res_info;
  content: "ここから新着";
}

header {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.one:not(:first-child), .popup > .one {
  > header > .name::before {
    content: "(>>1)";
    margin-right: 1ex;
  }
}

.message {
  margin: 5px 10px;
  word-break: break-all;
}

.id {
  white-space: nowrap;
}

.rep {
  white-space: nowrap;
}

.beid {
  text-decoration: none;
}
.beid:hover {
  text-decoration: underline;
}

.config_use_aa_font > .aa > .message {
  @include ascii-art;
}

.beicon[src="/img/loading.svg"] {
  width: 32px;
  height: 32px;
}

.thumbnail {
  $container-height: 100px;
  position: relative;
  display: inline-block;
  margin: 10px;
  height: $container-height;

  > a {
    $a-padding: 3px;
    position: relative;
    display: block;
    background-color: white;
    padding: $a-padding;
    box-shadow: 0 1px 3px 0px rgba(black, 0.4);

    > img {
      display: block;
      max-width: 150px;
      max-height: $container-height - $a-padding * 2;
      &[src="/img/loading.svg"] {
        width: 50px;
        height: 50px;
      }
    }

    &::after {
      @include drop-shadow;
      position: absolute;
      right: -4px;
      bottom: -4px;

      width: 16px;
      height: 16px;
      padding: 2px;

      background: hsl(0, 0%, 97.5%);
      border-radius: 2px;
    }

    &[href^="http://www.nicovideo.jp/watch/"]::after {
      content: url(http://www.nicovideo.jp/favicon.ico);
    }

    &[href^="http://youtu.be/"]::after,
    &[href^="http://www.youtube.com/watch?"]::after {
      content: url(http://www.youtube.com/favicon.ico);
    }
  }
}

.popup {
  position: fixed;
  z-index: $z-index-popup;
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
  box-shadow: 0 3px 10px rgba(black, 0.75);
  border: 3px solid #666;
  border-radius: 3px;
  > article {
    padding: 10px;
  }
  &.popup_linkinfo {
    border: none;
    overflow: hidden;
    padding: 5px;
    background-color: rgba(black, 0.8);
    color: #eeeeee;
    -webkit-animation-name: fade_in;
    -webkit-animation-duration: 150ms;
    -webkit-timing-function: ease-out;
  }
}
.popup_disabled {
  background-color: #666;
  color: #eee;
  padding: 5px;
}

.jump_panel {
  @include drop-shadow;
  $radius: 2px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin: 0;
  padding: 0;
  border: 1px solid;
  border-radius: $radius;
  -webkit-user-select: none;
  list-style-type: none;
  font-size: 14px;
  opacity: 0.25;
  -webkit-transition: opacity 200ms;
  &:hover {
    opacity: 1;
  }
  > li {
    display: none;
    cursor: pointer;
    padding: 3px 10px;
    &:first-child {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
    &:hover {
      text-shadow: 0 0 10px white;
    }
  }
}

.searching > :not(.search_hit) {
  display: none;
}

.thread_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 75px;
  display: -webkit-flex;
  > .loading_indicator, > .next_unread, > .search_next_thread {
    display: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 5px;
    font-size: 12px;
  }
  > .loading_indicator {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
  }
  > .next_unread {
    width: 0;
    -webkit-flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  > .next_unread, > .search_next_thread {
    cursor: pointer;
    text-decoration: none;
  }
}

.next_thread_list {
  @include drop-shadow;

  display:none;

  background-color: hsla(0, 0%, 0%, 0.85);
  color: hsl(0, 0%, 100%);

  padding: 10px;
  margin: 0;

  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 3px;

  > .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  > h1 {
    font-size: 14px;
    border-bottom: 1px solid hsl(0, 0%, 100%);
    margin: 0 0 5px 0;
    padding: 0 20px 5px 0;
    line-height: 1.25;
    > .current {
      font-weight: normal;
      color: hsl(200, 100%, 90%);
    }
  }

  > ol {
    margin: 0;
    padding: 0 0 0 2em;
    line-height: 1.5em;

    > li {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &.bookmarked::before {
        content: "★";
        color: #f93;
      }
    }
  }
}

.view.loading {
  .content {
    display: block !important;
    ~ .loading_overlay {
      display: none !important;
    }
    ~ .thread_footer .loading_indicator {
      display: block !important;
    }
    &:empty {
      ~ .loading_overlay {
        display: block !important;
      }
      ~ .thread_footer .loading_indicator {
        display: none !important;
      }
    }
  }
}

@mixin view_thread_theme (
  $background-color,
  $color,
  $res-header-color,
  $res-name-color,
  $res-name-ob-color,
  $link-color,
  $freq-color,
  $anchor-color,
  $anchor-active-color,
  $anchor-visited-color,
  $anchor-disabled-color,
  $one-color,
  $no-hit-message-color,
  $jump-panel-color,
  $jump-panel-background-color,
  $thread-footer-button-background-color,
  $thread-footer-button-color,
  $thread-res-info-color
) {
  & {
    background-color: $background-color;
    color: $color;
  }

  header {
    color: $res-header-color;
  }

  a {
    color: $anchor-color;
    &:active {
      color: $anchor-active-color;
    }
    &:visited {
      color: $anchor-visited-color;
    }
  }

  .name {
    color: $res-name-color;
  }

  .ob {
    color: $res-name-ob-color;
  }

  .link, .beid, .beid:visited {
    color: $link-color;
  }

  .freq {
    color: $freq-color;
  }

  .anchor.disabled {
    color: $anchor-disabled-color;
  }

  .popup:not(.popup_linkinfo) {
    background-color: $background-color;
  }

  .one:not(:first-child), .popup > .one {
    > header > .name::before {
      color: $one-color;
    }
  }

  .last, .read, .received {
    &:not(:last-child):after {
      color: $thread-res-info-color;
    }
  }

  .content[data-res_search_hit_count="0"]:after {
    color: $no-hit-message-color;
  }

  .jump_panel {
    border-color: $jump-panel-color;
    color: $jump-panel-color;
    > li {
      background-color: $jump-panel-background-color;
    }
  }

  .next_unread, .next_unread:visited, .search_next_thread {
    background-color: $thread-footer-button-background-color;
    color: $thread-footer-button-color;
  }
}

.view.theme_default {
  @include view_thread_theme (
    $background-color: #fafafa,
    $color: #000,
    $res-header-color: #222,
    $res-name-color: #008000,
    $res-name-ob-color: #036,
    $link-color: #00a,
    $freq-color: #a00,
    $anchor-color: #00e,
    $anchor-active-color: hsl(10, 50%, 50%),
    $anchor-visited-color: #551A8B,
    $anchor-disabled-color: #666,
    $one-color: #a40000,
    $no-hit-message-color: #444,
    $jump-panel-background-color: rgba(#000, 0.8),
    $jump-panel-color: #fff,
    $thread-footer-button-background-color: #eee,
    $thread-footer-button-color: #222,
    $thread-res-info-color: #666
  );
}

.view.theme_dark {
  @include view_thread_theme(
    $background-color: #333,
    $color: #eee,
    $res-header-color: #ddd,
    $res-name-color: #9d9,
    $res-name-ob-color: #69d,
    $link-color: #69d,
    $freq-color: #d99,
    $anchor-color: #6af,
    $anchor-active-color: hsl(30, 50%, 50%),
    $anchor-visited-color: #99f,
    $anchor-disabled-color: #999,
    $one-color: #fe6,
    $no-hit-message-color: #ddd,
    $jump-panel-background-color: rgba(#333, 0.8),
    $jump-panel-color: #ccc,
    $thread-footer-button-background-color: #333,
    $thread-footer-button-color: #ddd,
    $thread-res-info-color: silver
  );
}
