@import "../common.scss";

@include common_view_style_1;

@mixin view_thread_res_info {
  border-top: 1px solid silver;
  display: block;
  margin: 1em 0 0 5px;
  font-size: 12px;
  text-align: center;
}

html {
  font-size: 15px;
}

.content {
  padding-bottom: 50px;
  &[data-res_search_hit_count="0"]:after {
    display: block;
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    content: "検索にヒットするレスが有りませんでした";
  }
}

article {
  margin: 20px 5px;
}

.last:not(:last-child):after {
  @include view_thread_res_info;
  content: "しおり";
}

.read:not(:last-child):after {
  @include view_thread_res_info;
  content: "ここから未読";
}

.received:not(:last-child):after {
  @include view_thread_res_info;
  content: "ここから新着";
}

header {
  font-size: 14px;
}

.num {
  cursor: pointer;
  &:after {
    content: " ";
  }
}

.name_num {
  cursor: pointer;
}

.one:not(:first-child) .name:before {
  content: "(>>1)";
  margin-right: 1ex;
}

.mail {
  &:before {
    content: " [";
  }
  &:after {
    content: "] ";
  }
}

.message {
  margin: 5px 10px;
  word-break: break-all;
}

.id {
  white-space: nowrap;
  &.link, &.freq {
    cursor: pointer;
  }
}

.rep {
  white-space: nowrap;
  cursor: pointer;
  margin-left: 0.5ex;
}

.aa .message {
  @include ascii_art;
}

.thumbnail {
  $container_height: 100px;
  position: relative;
  display: inline-block;
  margin: 10px;
  height: $container_height;
  > a {
    $a_padding: 3px;
    position: relative;
    display: block;
    background-color: white;
    padding: $a_padding;
    box-shadow: 0 1px 3px 0px rgba(black, 0.4);
    > img {
      display: block;
      max-width: 150px;
      max-height: $container_height - $a_padding * 2;
      &[src="/img/loading.svg"] {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.popup {
  position: fixed;
  z-index: $z-index_popup;
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
  box-shadow: 0 3px 10px rgba(black, 0.75);
  border-radius: 3px;
  &:not(.popup_linkinfo) {
    > article {
      margin: 10px;
    }
    border: 3px solid #666666;
  }
  &.popup_linkinfo {
    overflow: hidden;
    padding: 5px;
    background-color: rgba(black, 0.8);
    color: #eeeeee;
    -webkit-animation-name: fade_in;
    -webkit-animation-duration: 150ms;
    -webkit-timing-function: ease-out;
  }
  .anchor_popup_disabled_message {
    background-color: #666666;
    color: #eeeeee;
    padding: 5px;
  }
}

.jump_panel {
  @include drop_shadow;
  $radius: 2px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin: 0;
  padding: 0;
  border: 1px solid;
  border-radius: $radius;
  -webkit-user-select: none;
  list-style-type: none;
  font-size: 14px;
  opacity: 0.25;
  -webkit-transition: opacity 200ms;
  &:hover {
    opacity: 1;
  }
  > li {
    display: none;
    cursor: pointer;
    padding: 3px 10px;
    &:first-child {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
    &:hover {
      text-shadow: 0 0 10px white;
    }
  }
}

.searching > :not(.search_hit) {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  > * {
    margin: 10px;
    float: left;
    display: none;
  }
  > .loading_indicator {
    font-size: 12px;
    border: 1px solid #bbbbbb;
    padding: 10px;
    border-radius: 5px;
    background-color: #333333;
    color: white;
  }
  > .next_unread, > .search_next_thread {
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #bbbbbb;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
  }
}

.next_thread_list {
  @include drop_shadow;
  background-color: hsla(0, 0%, 0%, 0.85);
  color: hsl(0, 0%, 100%);

  padding: 10px;
  margin: 0;

  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 3px;

  > .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  > header {
    color: inherit !important;
    border-bottom: 1px solid hsl(0, 0%, 100%);
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;

    > h1 {
      font-size: 16px;
      margin: 0;
      padding: 0;
      display: inline;
    }
  }

  > ol {
    margin: 0;
    padding: 0 0 0 2em;
    line-height: 1.5em;

    > li {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.view.loading {
  .content {
    display: block !important;
    ~ .loading_overlay {
      display: none !important;
    }
    ~ footer .loading_indicator {
      display: block !important;
    }
    &:empty {
      ~ .loading_overlay {
        display: block !important;
      }
      ~ footer .loading_indicator {
        display: none !important;
      }
    }
  }
}

@mixin view_thread_theme (
  $background_color,
  $color,
  $res_header_color,
  $res_name_color,
  $res_name_ob_color,
  $link_color,
  $freq_color,
  $anchor_color,
  $anchor_visited_color,
  $anchor_disabled_color,
  $one_color,
  $no_hit_message_color,
  $jump_panel_color,
  $jump_panel_background_color,
  $footer_button_background_color,
  $footer_button_color,
  $thread_res_info_color
) {
  & {
    background-color: $background_color;
    color: $color;
  }

  header {
    color: $res_header_color;
  }

  a {
    color: $anchor_color;
    &:visited {
      color: $anchor_visited_color;
    }
  }

  .name {
    color: $res_name_color;
  }

  .ob {
    color: $res_name_ob_color;
  }

  .link {
    color: $link_color;
  }

  .freq {
    color: $freq_color;
  }

  .anchor.disabled {
    color: $anchor_disabled_color;
  }

  .popup:not(.popup_linkinfo) {
    background-color: $background_color;
  }

  .one:not(:first-child) .name:before {
    color: $one_color;
  }

  .last, .read, .received {
    &:not(:last-child):after {
      color: $thread_res_info_color;
    }
  }

  .content[data-res_search_hit_count="0"]:after {
    color: $no_hit_message_color;
  }

  .jump_panel {
    border-color: $jump_panel_color;
    color: $jump_panel_color;
    > li {
      background-color: $jump_panel_background_color;
    }
  }

  .next_unread, .next_unread:visited, .search_next_thread {
    background-color: $footer_button_background_color;
    color: $footer_button_color;
  }
}

.view.theme_default {
  @include view_thread_theme (
    $background_color: #fafafa,
    $color: #000,
    $res_header_color: #222,
    $res_name_color: #008000,
    $res_name_ob_color: #036,
    $link_color: #00a,
    $freq_color: #a00,
    $anchor_color: #00e,
    $anchor_visited_color: #551A8B,
    $anchor_disabled_color: #666,
    $one_color: #a40000,
    $no_hit_message_color: #444,
    $jump_panel_background_color: rgba(#000, 0.8),
    $jump_panel_color: #fff,
    $footer_button_background_color: #eee,
    $footer_button_color: #222,
    $thread_res_info_color: #666
  );
}

.view.theme_dark {
  @include view_thread_theme(
    $background_color: #333,
    $color: #eee,
    $res_header_color: #ddd,
    $res_name_color: #9d9,
    $res_name_ob_color: #69d,
    $link_color: #69d,
    $freq_color: #d99,
    $anchor_color: #6af,
    $anchor_visited_color: #99f,
    $anchor_disabled_color: #999,
    $one_color: #fe6,
    $no_hit_message_color: #ddd,
    $jump_panel_background_color: rgba(#333, 0.8),
    $jump_panel_color: #ccc,
    $footer_button_background_color: #333,
    $footer_button_color: #ddd,
    $thread_res_info_color: silver
  );
}
