$z-index_tab_content: 0
$z-index_selected_tab_content: 1
$z-index_tabbed_view_nav_bar: 2
$z-index_popup: 3
$z-index_tabbed_view_overlay: 4
$z-index_contextmenu: 5
$z-index_notification: 6
$z-index_modal: 7

@import sass/ui_accordion.sass
@import sass/ui_tab.sass
@import sass/ui_table_search.sass
@import sass/ui_table_sort.sass
@import sass/ui_contextmenu.sass

@mixin ascii_art
  :font
    :size 16px
    :family "ＭＳ Ｐゴシック","Konatu","IPAMonaPGothic"
  :line-height 18px

@mixin drop_shadow
  :box-shadow 0 1px 4px rgba(#000, 0.6)

@mixin modal_overlay
  :z-index $z-index_modal
  :position absolute
  :left 0
  :top 0
  :width 100%
  :height 100%
  :background-image -webkit-radial-gradient(#666, #333)

@mixin tabbed_view
  :display -webkit-box
  :-webkit-box-orient vertical
  :background-color #fff
  .message_bar
    :font-size 13px
    &.loading
      :padding 3px
    &.info
      :padding 3px
      :background-color #eef
      :border 1px solid #ccd
    &.error
      :padding 3px
      :background-color #ecc
      :border 1px solid #ebb
  .nav_bar
    @include drop_shadow
    :z-index $z-index_tabbed_view_nav_bar
    :position relative
    :background-color #fff
    > input, > .button
      :float left
      :margin 3px
    > input
      :border 1px solid #ccc
      :height 19px
      :padding 0 0 0 19px
      :background url(/img/search2_19x19.png) no-repeat
    > .button
      :width 19px
      :height 19px
      :border 1px solid #ccc
      :cursor pointer
      a
        :display block
        :width 100%
        :height 100%
      &.button_bookmark
        :background-image url(/img/star_19x19.png)
        &.bookmarked
          :background-image url(/img/star2_19x19.png)
          :-webkit-box-shadow 0 0 3px yellow inset
      &.button_link
        :background-image url(/img/link_19x19.png)
      &.button_board
        :background-image url(/img/arrow_19x19.png)
      &.button_reload
        :background-image url(/img/reload_19x19.png)
        :-webkit-transition background-color 250ms
        &.disabled
          :background-color rgba(#000, 0.1)
          :cursor default
      &.button_write
        :background-image url(/img/pencil_19x19.png)
  .content
    :-webkit-box-flex 1
    :overflow-x hidden
    :overflow-y auto
    :position relative
  .loading_overlay
    :z-index $z-index_tabbed_view_overlay
    :position absolute
    :left 0
    :top 0
    :width 100%
    :height 100%
    :padding 5px
    :box-sizing border-box
    :background-color rgba(#000, 0.75)
    :font-size 13px
    :color #eee
  .loading_overlay
    :display none
  &.loading .loading_overlay
    :display block

@mixin content_table
  table
    :width 100%
    :font-size 13px
    :border-collapse collapse
    :background-color #fafafa
  tr
    :border-bottom 1px solid #ddd
  th
    :padding 3px
    :font-size 12px
    :font-weight normal
    :border-right 1px solid #ddd
    :white-space nowrap
  th:hover
    :background-color #e8e8e8
  tbody > tr
    :cursor pointer
    &:hover
      :background-color #e8e8e8
  td
    :padding 3px
    :white-space nowrap

.view_board
  @include tabbed_view
  @include content_table
  .content
    :overflow auto
  th
    &:nth-child(1)
      :width 1em
    &:nth-child(3)
      :width 4em
    &:nth-child(4)
      :width 3em
    &:nth-child(5)
      :width 4em
    &:nth-child(6)
      :width 16em

.view_board_tbody > tr > td
  &:nth-child(3), &:nth-child(4), &:nth-child(5)
    :text-align right

.view_inputurl
  @include tabbed_view
  :overflow auto
  .container
    @include drop_shadow
    :min-width 100px
    :max-width 500px
    :margin 50px
    :padding 10px
    :background-color #444
    :border-radius 5px
  form
    :display -webkit-box
  input
    :display block
  input:first-child
    :-webkit-box-flex 1
    :margin-right 10px
  .notice
    :display none
    :margin-top 5px
    :font-size 14px
    :color #fff

.view_history
  @include tabbed_view
  @include content_table
  .content
    :overflow auto

.view_bookmark
  @include tabbed_view
  @include content_table
  .content
    :overflow auto
  tr.expired td:first-child:before
    :content "[dat落ち] "
    :color #f00
  .loading_overlay
    .loading
      &:before
        :content "更新中 : "
    .success
      :color lightgreen
      &:before
        :content "更新成功 : "
    .fail
      :color red
      &:before
        :content "更新失敗 : "

.view_bookmark_tbody > tr > td
  &:nth-child(2), &:nth-child(3), &:nth-child(4)
    :text-align right

@mixin view_thread_res_info
  :border-top 1px solid silver
  :display block
  :margin-top 1em 0 0 5px
  :font-size 12px
  :color #666
  :text-align center

.view_thread
  @include tabbed_view
  :font-size 15px
  :background-color #fafafa

  .content
    :padding-bottom 20px

  article
    :margin 20px 5px

  .last:not(:last-child):after
    @include view_thread_res_info
    :content "しおり"

  .read:not(:last-child):after
    @include view_thread_res_info
    :content "ここから未読"

  .received:not(:last-child):after
    @include view_thread_res_info
    :content "ここから新着"

  header
    :font-size 14px
    :color #222

  .num
    :cursor pointer
    &:after
      :content ' '

  .name
    :color #008000

  .name_num
    :cursor pointer

  .one:not(:first-child) .name:before
    :content "[>>1]"
    :color #d22
    :font-size 12px
    :font-weight bold
    :margin-right 0.5ex

  .ob
    :color #036

  .mail
    &:before
      :content ' ['
    &:after
      :content '] '

  .message
    :margin 5px 10px

  .anchor.disabled
    :color #666

  .link
    :color #00a
  .freq
    :color #a00

  .id
    :white-space nowrap
    &.link, &.freq
      :cursor pointer
  .rep
    :white-space nowrap
    :cursor pointer
    :margin-left 0.5ex

  .aa .message
    @include ascii_art

  .thumbnail
    :display inline-block
    :margin 5px
    :background-color #fff
    :padding 3px
    :box-shadow 0 1px 3px 0px rgba(0, 0, 0, 0.4)
    :border 1px solid #aaa
    img
      :max-width 150px
      :max-height 100px

  .popup
    @include drop_shadow
    :z-index $z-index_popup
    :position fixed
    :background-color #fff
    :max-width 500px
    :max-height 300px
    :overflow auto

  .jump_panel
    @include drop_shadow
    $radius: 2px
    :position absolute
    :right 20px
    :bottom 20px
    :margin 0
    :padding 0
    :border 1px solid #fff
    :border-radius $radius
    :-webkit-user-select none
    :list-style-type none
    :font-size 14px
    :color #fff

    :opacity 0.25
    :-webkit-transition opacity 200ms
    &:hover
      :opacity 1
    > li
      :display none
      :cursor pointer
      :padding 3px 10px
      :background-color rgba(#000, 0.8)
      &:first-child
        :border-top-left-radius $radius
        :border-top-right-radius $radius
      &:last-child
        :border-bottom-left-radius $radius
        :border-bottom-right-radius $radius
      &:hover
        :text-shadow 0 0 10px #fff

  .searching > :not(.search_hit)
    :display none

  footer
    :position absolute
    :bottom 0
    :right 20px
    :display none

    :color #333
    :font-size 12px
    :padding 5px

  .next_unread a
    :text-decoration none
    :color #36f

.view_config
  @include tabbed_view
  :font-size 14px
  :padding 5px
  :box-sizing border-box
  :overflow auto
  h2
    :margin 15px 0 5px 0
    :padding-bottom 5px
    :font-size 16px
    :font-weight normal
    :border-bottom 1px solid #999
    &:first-of-type
      :margin-top 5px
  h3
    :font-size 14px
    :margin 10px 0
  h2 + h3
    :margin-top 5px
  label
    :cursor pointer
  .notation
    :font-size 14px
    :text-align right
  .version_info
    :font-size 12px
    :margin 5px
    :padding 5px
    :border-radius 3px
    :border 1px solid #aaa
  //.ninja_info_cookie, .ninja_info_stored
    :list-style-type none
    :margin 5px
    :padding 5px
    :border-radius 3px
    :border 1px solid #aaa
    :font-size 12px
    li
      :white-space nowrap
      :text-overflow ellipsis
      :overflow hidden
  .bbsmenu_reload_status
    &.done
      :color green
    &.fail
      :color red
  input[type="text"]:invalid
    :background-color #fcc

html, body, #body
  :position relative
  :width 100%
  :height 100%
  :margin 0

a
  :cursor pointer

#body
  :position relative
  :color #111

#left_pane
  :position absolute
  :width 135px
  :height 100%
  :overflow-y auto

  :box-sizing border-box
  :padding-bottom 100px
  :background-color #ddd

.view_sidemenu:not(.accordion)
  :visibility hidden

.view_sidemenu_bookmark:before
  :content "ブックマーク"
  :display block
  :margin 5px
  :padding 5px
  :font-size 12px
  :color #072A8A
  :border-bottom 1px solid #072A8A

#right_pane
  :box-sizing border-box
  :position absolute
  :left 135px
  :right 0
  :top 0
  :bottom 0

#body.pane-3
  #right_pane
    :display -webkit-box
    :-webkit-box-orient vertical
    #tab_a
      :height 50%
    #tab_b
      :-webkit-box-flex 1

#body.pane-2
  #right_pane
    :display -webkit-box
    :-webkit-box-orient vertical
    #tab_a
      :-webkit-box-flex 1

#tab_resizer
  :cursor row-resize
  :height 5px
  :background-color #ddd

#app_notice_container
  :position fixed
  :left 50px
  :top 10px
  :right 50px
  :z-index $z-index_notification

  > div
    @include drop_shadow
    :background-color #222
    :color #eee
    :border 1px solid #fff
    :font-size 14px
    :margin-bottom 5px
    :padding 10px

    :display -webkit-box

    div
      :-webkit-box-flex 1
      :margin-right 5px

    button
      :cursor pointer
      :width 16px
      :height 16px
      :background-image url(/img/close_16x16.png)
      :background-color transparent
      :border none

.view_bookmark_source_selector
  @include modal_overlay
  > div
    @include drop_shadow
    :font-size 14px
    :width 500px
    :margin 20px auto
    :background-color #f3f3f3
    :color #111
    :padding 5px
    :border-radius 3px
  p:first-child
    :margin-top 1ex
  p:last-child
    :margin-bottom 1ex
  .node_list
    :overflow auto
    :background-color #f9f9f9
    :border 1px solid #bbb
    :border-radius 3px
  ul
    :list-style-type none
    :padding-left 20px
    :margin 0
    :max-height 300px
  .node_list > ul
    :padding-left 0
  .node
    :display block
    :cursor pointer
    :font-size 13px
    :margin 1px
    :padding 1px
    :border-radius 3px
    :border 1px solid transparent
    &:hover
      :background-color #eef
      :border-color #69c
    &.selected
      :background-color #dde
      :border-color #58b

