$z-index_tab_content: 0;
$z-index_selected_tab_content: 1;
$z-index_tabbed_view_nav_bar: 2;
$z-index_popup: 3;
$z-index_tabbed_view_overlay: 4;
$z-index_contextmenu: 5;
$z-index_dialog: 6;
$z-index_modal: 7;
$z-index_notification: 8;

* {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 1px solid #cccccc;
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  &:hover {
    background-color: #888888;
  }
}

@mixin ascii_art {
  font: {
    size: 16px;
    family: "ＭＳ Ｐゴシック", "Konatu", "IPAMonaPGothic";
  };
  line-height: 18px;
}

@mixin drop_shadow {
  box-shadow: 0 1px 4px rgba(black, 0.6);
}

@mixin common_view_style_1 {
  html, body {
    width: 100%;
    height: 100%;
  }
  html {
    background-color: white;
  }
  body {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .message_bar {
    font-size: 13px;
    &.loading {
      padding: 3px;
    }
    &.info {
      padding: 3px;
      background-color: #eeeeff;
      border: 1px solid #ccccdd;

    }
    &.error {
      padding: 3px;
      background-color: #eecccc;
      border: 1px solid #eebbbb;
    }
  }
  .nav_bar {
    @include drop_shadow;
    z-index: $z-index_tabbed_view_nav_bar;
    position: relative;
    > input, > .button {
      float: left;
      margin: 3px;
    }
    > input {
      border: 1px solid;
      height: 19px;
      padding: 0 0 0 19px;
    }
    > .button {
      width: 19px;
      height: 19px;
      border: 1px solid;
      cursor: pointer;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      &.button_bookmark.bookmarked {
        -webkit-box-shadow: 0 0 3px yellow inset;
      }
      &.button_reload {
        -webkit-transition: background-color 250ms;
        &.disabled {
          background-color: rgba(black, 0.1);
          cursor: default;
        }
      }
    }
  }
  .content {
    -webkit-box-flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    outline: none;
  }
  .loading_overlay {
    z-index: $z-index_tabbed_view_overlay;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(#555555, 0.75);
    font-size: 13px;
    color: #eeeeee;
    -webkit-user-select: none;
  }
  .loading_overlay {
    display: none;
  }
  .content {
    display: block;
  }
  .view.loading {
    .loading_overlay {
      display: block;
    }
    .content {
      display: none;
    }
  }

  .view.theme_default {
    @include common_view_style_1_theme(
      $nav_bar_background_color: #fff,
      $nav_bar_item_border_color: #ccc,
      $icon_color: "333",
      $search_icon_color: "777",
      $color: #111
    );
  }

  .view.theme_dark {
    @include common_view_style_1_theme(
      $nav_bar_background_color: #444,
      $nav_bar_item_border_color: #999,
      $icon_color: "ddd",
      $search_icon_color: "aaa",
      $color: #eee
    );
  }
}

@mixin common_view_style_1_theme (
  $nav_bar_background_color,
  $nav_bar_item_border_color,
  $icon_color,
  $search_icon_color,
  $color
) {
  .nav_bar {
    background-color: $nav_bar_background_color;
    > .button, > input {
      border-color: $nav_bar_item_border_color;
    }
    > input {
      background: url(/img/search2_19x19_#{$search_icon_color}.png) no-repeat;
      color: $color;
    }
    > .button {
      &.button_bookmark {
        background-image: url(/img/star_19x19_#{$icon_color}.png);
        &.bookmarked {
          background-image: url(/img/star2_19x19.png);
        }
      }
      &.button_link {
        background-image: url(/img/link_19x19_#{$icon_color}.png);
      }
      &.button_board {
        background-image: url(/img/arrow_19x19_#{$icon_color}.png);
      }
      &.button_reload {
        background-image: url(/img/reload_19x19_#{$icon_color}.png);
      }
      &.button_write {
        background-image: url(/img/pencil_19x19_#{$icon_color}.png);
      }
    }
  }
}

@mixin content_table {
  table {
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;
    -webkit-user-select: none;
  }
  tr {
    border-bottom: 1px solid;
  }
  th {
    padding: 3px;
    font-size: 12px;
    font-weight: normal;
    border-right: 1px solid;
    white-space: nowrap;
  }
  tbody > tr {
    cursor: pointer;
  }
  td {
    padding: 3px 5px;
    white-space: nowrap;
  }
  tbody:after {
    display: block;
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  table[data-table_search_hit_count="0"] > tbody:not(:empty) {
    display: block;
    &:after {
      content: "検索にヒットするスレッドが有りませんでした";
    }
  }

  .view.theme_default {
    @include content_table_theme(
      $background_color: #fafafa,
      $color: #000,
      $cell_border_color: #ddd,
      $cell_hover_background_color: #e8e8e8,
      $empty_message_color: #444
    );
  }

  .view.theme_dark {
    @include content_table_theme(
      $background_color: #333,
      $color: #eee,
      $cell_border_color: #666,
      $cell_hover_background_color: #222,
      $empty_message_color: #ddd
    );
  }
}

@mixin content_table_theme(
  $background_color,
  $color,
  $cell_border_color,
  $cell_hover_background_color,
  $empty_message_color
) {
  background-color: $background_color;
  color: $color;

  th, tr {
    border-color: $cell_border_color;
  }

  th:hover, tbody > tr:hover {
    background-color: $cell_hover_background_color;
  }

  tbody:after {
    color: $empty_message_color;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
