$z-index_tab_content: 0;
$z-index_selected_tab_content: 1;
$z-index_tabbed_view_nav_bar: 2;
$z-index_popup: 3;
$z-index_tabbed_view_overlay: 4;
$z-index_contextmenu: 5;
$z-index_dialog: 6;
$z-index_modal: 7;
$z-index_notification: 8;

* {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 1px solid #cccccc;
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  &:hover {
    background-color: #888888;
  }
}

@font-face {
  font-family: "Textar";
  src: url(/lib/textar/textar-min.woff);
}

@mixin ascii_art {
  font: {
    size: 16px;
    family: "MS PGothic", "IPAMonaPGothic", "Konatu", "Monapo", "Textar";
  };
  line-height: 18px;
}

@mixin drop_shadow {
  box-shadow: 0 1px 4px rgba(black, 0.6);
}

@mixin button {
  border: 1px solid #aaa;
  border-radius: 3px;
  background: -webkit-linear-gradient(#eee, #d5d5d5);
  color: #222;
  padding: 5px;
  &:not([disabled]) {
    cursor: pointer;
    &:hover {
      border-color: #777;
    }
    &:active {
      background: -webkit-linear-gradient(#ddd, #c5c5c5);
      box-shadow: 0 1px 1px #999 inset;
    }
  }
  &[disabled] {
    background: #ddd;
    color: #888;
  }
}

@mixin input_text {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px;
  box-shadow: 0 1px 1px #ccc inset;
  &:focus {
    outline: none;
    border-color: #36f;
  }
}

@mixin common_view_style_1 {
  @media (max-width: 650px) {
    .sort_item_selector {
      display: inline-block !important;
    }
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  html {
    background-color: white;
  }
  body {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .message_bar {
    font-size: 13px;
    &.loading {
      padding: 3px;
    }
    &.info, &.error {
      padding: 3px;
      border: 1px solid;
    }
  }
  .nav_bar {
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.2);
    z-index: $z-index_tabbed_view_nav_bar;
    position: relative;
    > input, > .button {
      float: left;
    }
    > input, > .button, > .breadcrumb, > .sort_item_selector {
      border-width: 1px;
      border-style: solid;
      margin: 3px;
      height: 19px;
    }
    > input {
      padding: 0 0 0 19px;
      width: 150px;
      @media (max-width: 400px) {
        width: 100px;
      }
    }
    > .button {
      width: 19px;
      cursor: pointer;
      -webkit-transition: opacity 500ms;
      border-color: transparent;
      > a {
        display: block;
        width: 100%;
        height: 100%;
      }
      &.disabled {
        cursor: default;
        opacity: 0.5;
      }
    }
    > .button_tool {
      position: relative;
      float: right;
      > ul {
        display: none;
        position: absolute;
        top: 19px;
        right: 0px;
        list-style-type: none;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        border: 1px solid;
        -webkit-user-select: none;
        font-size: 14px;
        > li {
          padding: 5px;
        }
        > .button_link {
          padding: 0;
          > a {
            display: block;
            padding: 5px;
            color: inherit;
            text-decoration: none;
            &:visited {
              color: inherit;
            }
          }
        }
      }
      &:hover > ul {
        display: block;
      }
    }
  }
  .breadcrumb {
    list-style-type: none;
    float: right;
    padding: 0;
    font-size: 14px;
    border-radius: 3px;
    border-color: transparent;
    > li {
      float: left;
      padding: 3px;
      > a {
        color: inherit !important;
        line-height: 1em;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .sort_item_selector {
    display: none;
    float: right;
    color: inherit;
    background-color: inherit;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    height: 21px !important;
    > option {
      background-color: inherit;
    }
  }
  .content {
    -webkit-box-flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    outline: none;
  }
  .loading_overlay {
    z-index: $z-index_tabbed_view_overlay;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(#555555, 0.75);
    font-size: 13px;
    color: #eeeeee;
    -webkit-user-select: none;
  }
  .loading_overlay {
    display: none;
  }
  .content {
    display: block;
  }
  .view.loading {
    .loading_overlay {
      display: block;
    }
    .content {
      display: none;
    }
  }

  .view.theme_default {
    @include common_view_style_1_theme(
      $nav_bar_background_color: #fff,
      $nav_bar_color: #333,
      $nav_bar_item_border_color: #ccc,
      $message_bar_info_background_color: #eef,
      $message_bar_info_border_color: #ccd,
      $message_bar_error_background_color: #ecc,
      $message_bar_error_border_color: #ebb,
      $icon_color: "333",
      $active_icon_color: "007fff",
      $search_icon_color: "777",
      $color: #111,
      $tool_menu_hover_background: hsl(210, 50%, 95%)
    );
  }

  .view.theme_dark {
    @include common_view_style_1_theme(
      $nav_bar_background_color: #444,
      $nav_bar_color: #eee,
      $nav_bar_item_border_color: #999,
      $message_bar_info_background_color: #345,
      $message_bar_info_border_color: #345,
      $message_bar_error_background_color: #933,
      $message_bar_error_border_color: #933,
      $icon_color: "ddd",
      $active_icon_color: "f93",
      $search_icon_color: "aaa",
      $color: #eee,
      $tool_menu_hover_background: hsl(30, 100%, 40%)
    );

    .message_bar > {
      a, a:visited {
        color: #efa;
      }
    }
  }
}

@mixin common_view_style_1_theme (
  $nav_bar_background_color,
  $nav_bar_color,
  $nav_bar_item_border_color,
  $message_bar_info_background_color,
  $message_bar_info_border_color,
  $message_bar_error_background_color,
  $message_bar_error_border_color,
  $icon_color,
  $active_icon_color,
  $search_icon_color,
  $color,
  $tool_menu_hover_background
) {
  .nav_bar {
    background-color: $nav_bar_background_color;
    color: $nav_bar_color;
    > .button:not(.disabled):hover, > input, > .sort_item_selector {
      border-color: $nav_bar_item_border_color;
    }
    > input {
      background: url(/img/search2_19x19_#{$search_icon_color}.png) no-repeat;
      color: $color;
    }
    > .button {
      &.button_bookmark {
        background-image: url(/img/star_19x19_#{$icon_color}.png);
        &.bookmarked {
          background-image: url(/img/star_19x19_#{$active_icon_color}.png);
        }
      }
      &.button_reload {
        background-image: url(/img/reload_19x19_#{$icon_color}.png);
      }
      &.button_write {
        background-image: url(/img/pencil_19x19_#{$icon_color}.png);
      }
      &.button_tool {
        background-image: url(/img/spanner_19x19_#{$icon_color}.png);
        > ul {
          background-color: $nav_bar_background_color;
          border-color: $nav_bar_item_border_color;
          > li:hover {
            background: $tool_menu_hover_background;
          }
        }
      }
    }
  }
  .message_bar {
    &.info {
      background-color: $message_bar_info_border_color;
      border-color: $message_bar_info_border_color;
    }
    &.error {
      background-color: $message_bar_error_background_color;
      border-color: $message_bar_error_border_color;
    }
  }
}

@mixin content_table {
  table {
    width: 100%;
    table-layout: fixed;
    font-size: 13px;
    border-collapse: collapse;
    -webkit-user-select: none;
  }
  tr {
    border-bottom: 1px solid;
  }
  th {
    padding: 3px;
    font-size: 12px;
    font-weight: normal;
    border-right: 1px solid;
    white-space: nowrap;
    overflow: hidden;
  }
  tbody > tr {
    cursor: pointer;
  }
  td {
    padding: 3px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  tbody:after {
    display: block;
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  table[data-table_search_hit_count]:not([data-table_search_hit_count="0"]):before {
    content: attr(data-table_search_hit_count)"hit";
    position: fixed;
    left: 0;
    top: 29px;
    padding: 3px;
    background-color: hsl(0, 0%, 40%);
    color: hsl(0, 0%, 100%);
  }
  table[data-table_search_hit_count="0"] > tbody:not(:empty) {
    display: block;
    &:after {
      content: "検索にヒットするスレッドが有りませんでした";
    }
  }

  .view.theme_default {
    @include content_table_theme(
      $background_color: #fafafa,
      $color: #000,
      $cell_border_color: #ddd,
      $cell_hover_background_color: #e8e8e8,
      $empty_message_color: #444
    );
  }

  .view.theme_dark {
    @include content_table_theme(
      $background_color: #333,
      $color: #eee,
      $cell_border_color: #666,
      $cell_hover_background_color: #222,
      $empty_message_color: #ddd
    );
  }
}

@mixin content_table_theme(
  $background_color,
  $color,
  $cell_border_color,
  $cell_hover_background_color,
  $empty_message_color
) {
  background-color: $background_color;
  color: $color;

  th, tr {
    border-color: $cell_border_color;
  }

  .table_sort th:hover, tbody > tr:hover {
    background-color: $cell_hover_background_color;
  }

  tbody:after {
    color: $empty_message_color;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
