$z-index-tab-content: 0;
$z-index-selected-tab-content: 1;
$z-index-tabbed-view-nav-bar: 2;
$z-index-popup: 3;
$z-index-tabbed-view-overlay: 4;
$z-index-contextmenu: 5;
$z-index-dialog: 6;
$z-index-modal: 7;
$z-index-modalhelp: 8;
$z-index-notification: 9;

@mixin common {
  button, input, select, textarea {
    font-family: inherit;
  }

  :focus .selected {
    outline: 2px hsl(0, 0%, 50%) solid;
  }

  .focus_effect::after {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    box-sizing: border-box;
    border: 4px solid hsl(0, 0%, 50%);
  }

  .command {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: inherit;
    color: inherit;
    border: 1px solid hsl(0, 0%, 50%);
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border: 1px solid #cccccc;
    background-color: #dddddd;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #999999;
    &:hover {
      background-color: #888888;
    }
  }

  @-webkit-keyframes fade_in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin ascii-art {
  font: {
    size: 16px;
    family: "MS PGothic", "IPAMonaPGothic", "Konatu", "Monapo", "Textar";
  };
  line-height: 18px;
}

@mixin drop-shadow {
  box-shadow: 0 1px 4px rgba(black, 0.6);
}

@mixin button {
  border: 1px solid #aaa;
  border-radius: 3px;
  background: linear-gradient(#eee, #d5d5d5);
  color: #222;
  padding: 5px;
  &:not([disabled]) {
    cursor: pointer;
    &:hover {
      border-color: #777;
    }
    &:active {
      background: linear-gradient(#ddd, #c5c5c5);
      box-shadow: 0 1px 1px #999 inset;
    }
  }
  &[disabled] {
    background: #ddd;
    color: #888;
  }
}

@mixin input-text {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px;
  box-shadow: 0 1px 1px #ccc inset;
  &:focus {
    outline: none;
    border-color: #36f;
  }
}

@mixin tab-content {
  @media (max-width: 650px) {
    .sort_item_selector {
      display: inline-block !important;
    }
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  html {
    background-color: white;
  }
  body {
    margin: 0;
    display: -webkit-flex;
    -webkit-flex-flow: column;
  }
  .message_bar {
    font-size: 13px;
    &.loading {
      padding: 3px;
    }
    &.info, &.error {
      padding: 3px;
      border: 1px solid;
    }
  }
  .nav_bar {
    height: 27px;
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.2);
    z-index: $z-index-tabbed-view-nav-bar;
    position: relative;
    > label, > .button {
      float: left;
    }
    > label > input, > .button, > .breadcrumb, > .sort_item_selector {
      border-width: 1px;
      border-style: solid;
      margin: 3px;
      height: 19px;
    }
    > label {
      position: relative;
      > input {
        padding: 0 0 0 19px;
        width: 150px;
        &[disabled] {
          visibility: hidden;
        }
        @media (max-width: 400px) {
          width: 100px;
        }
      }
      > .hit_count {
        display: none;
        position: absolute;
        right: 3px;
        top: 3px;
        font-size: 14px;
        padding: 3px;
      }
    }
    > .button {
      width: 19px;
      cursor: pointer;
      -webkit-transition: opacity 500ms;
      border-color: transparent;
      > a {
        display: block;
        width: 100%;
        height: 100%;
      }
      &.disabled {
        cursor: default;
        opacity: 0.25;
      }
    }
    > .button_tool {
      position: relative;
      float: right;
      > ul {
        display: none;
        position: absolute;
        top: 19px;
        right: 0px;
        list-style-type: none;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        border: 1px solid;
        -webkit-user-select: none;
        font-size: 14px;
        > li {
          padding: 5px;
        }
        > .button_link {
          padding: 0;
          > a {
            display: block;
            padding: 5px;
            color: inherit;
            text-decoration: none;
            &:visited {
              color: inherit;
            }
          }
        }
      }
    }
  }
  .breadcrumb {
    list-style-type: none;
    float: right;
    padding: 0;
    font-size: 14px;
    border-radius: 3px;
    border-color: transparent;
    > li {
      float: left;
      padding: 3px;
      > a {
        color: inherit !important;
        line-height: 1em;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .sort_item_selector {
    display: none;
    float: right;
    color: inherit;
    background-color: inherit;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    height: 21px !important;
    > option {
      background-color: inherit;
    }
  }
  .content {
    height: 0;
    -webkit-flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    outline: none;
  }
  .loading_overlay {
    z-index: $z-index-tabbed-view-overlay;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(#555555, 0.75);
    font-size: 13px;
    color: #eeeeee;
    -webkit-user-select: none;
  }
  .loading_overlay {
    display: none;
  }
  .content {
    display: block;
  }
  .view.loading {
    .loading_overlay {
      display: block;
    }
    .content {
      display: none;
    }
  }

  .view.theme_default {
    @include tab-content-theme(
      $nav-bar-background-color: #fff,
      $nav-bar-color: #333,
      $nav-bar-item-border-color: #ccc,
      $message-bar-info-background-color: #eef,
      $message-bar-info-border-color: #ccd,
      $message-bar-error-background-color: #ecc,
      $message-bar-error-border-color: #ebb,
      $icon-color: "333",
      $active-icon-color: "007fff",
      $search-icon-color: "777",
      $color: #111,
      $tool-menu-hover-background: hsl(210, 50%, 95%)
    );
  }

  .view.theme_dark {
    @include tab-content-theme(
      $nav-bar-background-color: #444,
      $nav-bar-color: #eee,
      $nav-bar-item-border-color: #999,
      $message-bar-info-background-color: #345,
      $message-bar-info-border-color: #345,
      $message-bar-error-background-color: #933,
      $message-bar-error-border-color: #933,
      $icon-color: "ddd",
      $active-icon-color: "f93",
      $search-icon-color: "aaa",
      $color: #eee,
      $tool-menu-hover-background: hsl(30, 100%, 40%)
    );

    .message_bar > {
      a, a:visited {
        color: #efa;
      }
    }
  }
}

@mixin tab-content-theme (
  $nav-bar-background-color,
  $nav-bar-color,
  $nav-bar-item-border-color,
  $message-bar-info-background-color,
  $message-bar-info-border-color,
  $message-bar-error-background-color,
  $message-bar-error-border-color,
  $icon-color,
  $active-icon-color,
  $search-icon-color,
  $color,
  $tool-menu-hover-background
) {
  .nav_bar {
    background-color: $nav-bar-background-color;
    color: $nav-bar-color;
    > .button:not(.disabled):hover, > label > input, > .sort_item_selector {
      border-color: $nav-bar-item-border-color;
    }
    > label > input {
      background: url(/img/search2_19x19_#{$search-icon-color}.png) no-repeat;
      color: $color;
    }
    > .button {
      &.button_bookmark {
        background-image: url(/img/star_19x19_#{$icon-color}.png);
        &.bookmarked {
          background-image: url(/img/star_19x19_#{$active-icon-color}.png);
        }
      }
      &.button_back {
        background-image: url(/img/arrow_19x19_#{$icon-color}_r-90.png);
      }
      &.button_forward {
        background-image: url(/img/arrow_19x19_#{$icon-color}_r90.png);
      }
      &.button_reload {
        background-image: url(/img/reload_19x19_#{$icon-color}.png);
      }
      &.button_write {
        background-image: url(/img/pencil_19x19_#{$icon-color}.png);
      }
      &.button_tool {
        background-image: url(/img/menu_19x19_#{$icon-color}.png);
        > ul {
          background-color: $nav-bar-background-color;
          border-color: $nav-bar-item-border-color;
          > li:hover {
            background: $tool-menu-hover-background;
          }
        }
      }
    }
  }
  .message_bar {
    &.info {
      background-color: $message-bar-info-border-color;
      border-color: $message-bar-info-border-color;
    }
    &.error {
      background-color: $message-bar-error-background-color;
      border-color: $message-bar-error-border-color;
    }
  }
}

@mixin content-table {
  table {
    width: 100%;
    table-layout: fixed;
    font-size: 13px;
    border-collapse: collapse;
    -webkit-user-select: none;
  }
  tr {
    border-bottom: 1px solid;
  }
  th {
    padding: 3px;
    font-size: 12px;
    font-weight: normal;
    border-right: 1px solid;
    white-space: nowrap;
    overflow: hidden;
    &.bookmark {
      width: 2em;
    }
    &.board_title {
      width: 10em;
    }
    &.res, &.unread {
      width: 4em;
    }
    &.heat {
      width: 7em;
    }
    &.created_date, &.viewed_date {
      width: 16em;
    }
  }
  tbody > tr {
    cursor: pointer;
  }
  td {
    padding: 3px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  table::after, tbody::after {
    display: block;
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  table[data-table_search_hit_count="0"] > tbody:not(:empty) {
    display: block;
    &:after {
      content: "検索にヒットするスレッドが有りませんでした";
    }
  }

  .table_sort {
    th {
      -webkit-user-select: none;
      cursor: pointer;
    }
  }

  .table_sort_asc::after {
    content: "↑";
  }

  .table_sort_desc::after {
    content: "↓";
  }

  .view.theme_default {
    @include content-table-theme(
      $background-color: #fafafa,
      $color: #000,
      $cell-border-color: #ddd,
      $cell-hover-background-color: #e8e8e8,
      $empty-message-color: #444
    );
  }

  .view.theme_dark {
    @include content-table-theme(
      $background-color: #333,
      $color: #eee,
      $cell-border-color: #666,
      $cell-hover-background-color: #222,
      $empty-message-color: #ddd
    );
  }
}

@mixin content-table-theme(
  $background-color,
  $color,
  $cell-border-color,
  $cell-hover-background-color,
  $empty-message-color
) {
  background-color: $background-color;
  color: $color;

  th, tr {
    border-color: $cell-border-color;
  }

  .table_sort th:hover, tbody > tr:hover {
    background-color: $cell-hover-background-color;
  }

  tbody:after {
    color: $empty-message-color;
  }
}
