:ruby
  app_version = "0.4"

!!! 5
%html(data-app-version="#{app_version}")
  %head
    %meta(charset="utf-8")
    %title read.crx 2
    %script(src="/lib/jquery/jquery-1.6.2.min.js?v=#{app_version}")
    %script(src="/zombie.js?v=#{app_version}")
  %body
    read.crx 2 を終了しています
